<h1>Dog Name: <%=@dog.name%></h1>

<p>Breed: <%=@dog.breed%></p>
<p>Age: <%= @dog.age%></p>
<p>Employees: </p>

<ul>
    <% @dog.employees.each do |d| %>
        <li><%= d.first_name%> <%= d.last_name%></li>
    <% end %>
</ul>
